// Mixins
@mixin wrapper{
	width: 100%;
	margin: 0 auto;
	padding: 20px 0;
}
@mixin navigationWrapper{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
}
@mixin navigationBtn{
	margin-top: 20px;
    background: transparent;
    height:  38px;
    border:  3px solid white;
    text-align:  center;
    font-size:  16px;
    font-weight: bold;
    color:  #fff;
    border-radius: 0;
}